__pycache__/app.cpython-38.pyc
app.py
predict_tweets/__pycache__/predictedData.cpython-38.pyc
twint_integrate/__pycache__/twint_search.cpython-38.pyc
twint_wordcloud/__pycache__/wordcloud_html.cpython-38.pyc
twint_integrate/__pycache__/__init__.cpython-38.pyc
predict_tweets/__pycache__/model.cpython-38.pyc
__pycache__/app.cpython-38.pyc
userTweets.csv
.gitignore
predictedTweets.csv
