<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Team 51">
    <title>DS4A Team 51 Project</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap" rel="stylesheet">
    

      <!-- Bootstrap core CSS -->
      <link rel= "stylesheet" href= "/static/css/bootstrap.min.css"/>
      <!-- Custom styles for this template -->
      <link rel= "stylesheet" href= "/static/css/index.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" href= "/static/css/index.css"/>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="container d-flex p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start">{{title}}</h3>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-6 overview">
        <div class="section intro">
          <p class="row about-text">Prediction Output</p>
          <p class="about-text">Out of <b>{{tweets}}</b> tweets for <b>@{{handle}}</b>, our model detected <b>{{misinfo}}</b> tweet(s) that may contain misinformation. See labeled tweets below.</p>
        <!-- <div class="row about-text">Prediction Output</div> -->
        <table>
          {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
          {% endfor %}
        </table>
      </div>
      </div>
      <div class="col-6 demo">
        <image src="{{wc}}" ></image>
      </div>
    </div>

  </div>
  <!-- <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main> -->

  <footer class="mt-auto text-white-50">
    <p>{{footer}}</p>
  </footer>
</div> 
  </body>
</html>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>