<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>DS4A Team 51 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DS4A's Team 51 Final Capstone Project">
    <meta name="author" content="Team 51">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" href= "/static/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" href= "/static/css/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="overlay hide-overlay">
      <div class="container d-flex p-3 mx-auto flex-column">
      </div>
      <div class="container d-flex p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div class="row">
            <h2 class="float-md-start header">{{ title }}</h3>
              <h4 class="float-md-start header">{{ subtitle }}</h3>
          </div>
        </header>
        <div class="container">
          <div class="spinner hidden"></div>
          <div class="row">
            <div class="col-6 overview">
              <div class="demo-div-left">
                <p class="row about-text">Try it yourself</p>
                <p class="row about-text">Step 1: Type in the twitter user handle you want to analyze. (i.e. @NIH, @CDC, etc)</p>
                <p class="row about-text">Step 2: Click submit to screen the latest COVID-19 tweets from that user.</p>
              </div>
            </div>
            <div class="col-6 demo">
              <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                  <a class="nav-link about" href="/about">About</a>
                  <a class="nav-link demo" href="/demo-input">Demo</a>
                </nav>
              </div>
              <div class="demo-div-right">
                <div class="input-group mb-3 handle-input">
                  <p class="demo-text">Please type in a user's Twitter handle starting without the "@" to generate a report:</p>
                  <form action="/" method="post">
                    <input
                      id="userHandleInputField" 
                      type="text" 
                      class="form-control" 
                      placeholder="Twitter handle" 
                      aria-label="Username" 
                      aria-describedby="basic-addon1"
                    >
                  </form>
                </div>
                <button
                  id="userHandleSubmitBtn" 
                  type="button" 
                  class="btn btn-primary"
                >
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
        <footer class="mt-auto text-white-50">
          <p>{{ footer }}</p>
        </footer> 
      </div>
    </div>
    <script>
      var hidden = "hidden";
      var handleSubmitBtn = "#userHandleSubmitBtn";
      var overlay = ".overlay";
      var spinner = ".spinner";

      $(handleSubmitBtn).click(function (e) {
        e.preventDefault();
        
        $(overlay).removeClass("hide-overlay");
        $(spinner).removeClass(hidden);

        var twitterHandleVal = $("#userHandleInputField").val();

        $.ajax({
          url: "/",
          type: "POST",
          data: {
            "user_handle": twitterHandleVal
          },
          success: function(response) {
            // hide overlay + spinner:
            $(overlay).addClass("hide-overlay");
            $(spinner).addClass(hidden);

            // show visualization here:
            window.location = "http://127.0.0.1:5000/demo-output";
          },
          error: function(err) {
            console.log("err ==>", err);
          },
          timeout: 10000
        });

        $("#userHandleInputField").val("");
      });
    </script> 
  </body>
</html>