<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>DS4A Team 51 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DS4A's Team 51 Final Capstone Project">
    <meta name="author" content="Team 51">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" href= "/static/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" href= "/static/css/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="overlay hide-overlay">
      <div class="container d-flex p-3 mx-auto flex-column">
      </div>
      <div class="container d-flex p-3 mx-auto flex-column">
        <header class="mb-auto">
          <div class="row">
            <h2 class="float-md-start header">{{ title }}</h3>
            <h4 class="float-md-start header">{{ subtitle }}</h3>
          </div>
        </header>
        <div class="container">
          <div class="spinner hidden"></div>
          <div class="row">
            <div class="col-6 overview">
              <div class="about-div-left">
                <div class="section intro">
                  <p class="row about-text">What is BCC ML?</p>
                  <p class="row about-text">An open-source tool that labels tweets as misinformation, in an effort to educate the public about misinformation on Twitter.</p>
                </div>
                <div class="section">
                  <p class="row about-text">Why is BCC ML needed?</p>
                  <p class="row about-text"> COVID-19 caused widespread concerns globally, as people found factual social media sources have become hard to ascertain.</p>
                </div>
                <div class="section">
                  <p class="row about-text">Our Audience</p>
                  <p class="row about-text">Our audience is the open source community. Developing an open source tool will allow for further improvements of the tool to be built within the community.</p>
                </div>
              </div>
            </div>
            <div class="col-6 demo">
              <div>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                  <a class="nav-link about" href="/about">About</a>
                  <a class="nav-link demo" href="/demo-input">Demo</a>
                </nav>
              </div>
              <div class="about-div-right">
                <img class="diagram" src="/static/img/model_arch.svg">
                <p class="row diagram-text">We used DistilBert, a pre-trained version of BERT (Bidirectional Encoder Representations from Transformers) to encode tweet data, and Logistic Regression to classify the encoded data. After testing and training our model using our dataset, we received an accuracy rate of 86.4%</p>
              </div>
            </div>
          </div>
        </div>
        <footer class="mt-auto text-white-50">
          <p>{{ footer }}</p>
        </footer> 
      </div>
    </div>
  </body>
</html>