<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Team 51">
    <title>DS4A Team 51 Project</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap" rel="stylesheet">
    

    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}"/>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}"/>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="container d-flex p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start">detecting COVID-19 misinformation in text-based social media posts.</h3>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-6 overview">
        <div class="section intro">
        <div class="row about_text">Overview</div>
        <p class="row about_text">Our team’s intention is to build an open source tool that will accurately label text-based posts as misinformation and point users to correct sources of COVID-19 information.</p>
      </div>
      <div class="section">
        <div class="row about_text">Why does this matter?</div>
        <p class="row about_text"> Everyday, posts are shared with the sole intent of informing those within your network. However, these shared posts may contain either falsehoods or outdated information. 
          Social Media Platforms are the public’s fastest source for consuming information, but are they accurately informing the public?</p>
        </div>
        <div class="section">
        <div class="row about_text">Potential Audience</div>
        <p class="row about_text">Our audience is the open source community. Developing an open source tool will allow for further improvements of the tool to be built within the community.

        </p>
      </div>
      </div>
      <div class="col-6 demo">
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link about" href="/about">About</a>
          <a class="nav-link" href="/demo-input">Demo</a>
        </nav>
      </div>
    </div>

  </div>
  <!-- <main class="px-3">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
    </p>
  </main> -->

  <footer class="mt-auto text-white-50">
    <!-- <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p> -->
  </footer>
</div>


    
  </body>
</html>
