<!doctype html>
<html lang="en" class="h-100">
  <head>
    <title>DS4A Team 51 Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DS4A's Team 51 Final Capstone Project">
    <meta name="author" content="Team 51">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link rel= "stylesheet" href= "/static/css/bootstrap.min.css"/>
    <!-- Custom styles for this template -->
    <link rel= "stylesheet" href= "/static/css/index.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/static/js/app.js"></script>
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    <div class="container d-flex p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start">{{ title }}</h3>
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-6 overview">
            <div class="demo-div-left hidden">
              <p class="row about-text">Try it yourself</p>
              <p class="row about-text">Step 1: Type in the twitter user handle you want to analyze. (i.e. @NIH, @CDC, etc)</p>
              <p class="row about-text">Step 2: Click submit to screen the latest COVID-19 tweets from that user.</p>
            </div>
            <div class="about-div-left">
              <div class="section intro">
                <p class="row about-text">Overview</p>
                <p class="row about-text">Our team’s intention is to build an open source tool that will accurately label text-based posts as misinformation and point users to correct sources of COVID-19 information.</p>
              </div>
              <div class="section">
                <p class="row about-text">Why does this matter?</p>
                <p class="row about-text"> Everyday, posts are shared with the sole intent of informing those within your network. However, these shared posts may contain either falsehoods or outdated information. 
                  Social Media Platforms are the public’s fastest source for consuming information, but are they accurately informing the public?</p>
              </div>
              <div class="section">
                <p class="row about-text">Potential Audience</p>
                <p class="row about-text">Our audience is the open source community. Developing an open source tool will allow for further improvements of the tool to be built within the community.</p>
              </div>
            </div>
          </div>
          <div class="col-6 demo">
            <div>
              <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link about">About</a>
                <a class="nav-link demo">Demo</a>
              </nav>
            </div>
            <div class="demo-div-right hidden">
              <div class="input-group mb-3 handle_input">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <button type="button" class="btn btn-primary">SUBMIT</button>
            </div>
            <div class="about-div-right">
              <img class="diagram" src="/static/img/model_arch.svg">
              <p class="row diagram_text">Our team decided that BERT (Bidirectional Encoder Representations from Transformers) was the best implementation of NLP to accurately detect misinformation in the social media post datasets. Our team chose to use DistiliBERT,a pre-trained version of BERT that is 40% smaller, 60% faster, and retains 97% of language understanding capabilities.</p>
            </div>
          </div>
        </div>
      </div>
      <footer class="mt-auto text-white-50">
        <p>{{ footer }}</p>
      </footer> 
    </div>
    <script>
      var demoBtn = ".nav-link.demo";
      var aboutBtn = ".nav-link.about";

      var aboutDivRightPanel = ".about-div-right";
      var aboutDivLeftPanel = ".about-div-left";

      var demoDivLeftPanel = ".demo-div-left";
      var demoDivRightPanel = ".demo-div-right";


      $(demoBtn).click(function() {
        $(aboutDivRightPanel).addClass("hidden");
        $(aboutDivLeftPanel).addClass("hidden");

        $(demoDivLeftPanel).removeClass("hidden");
        $(demoDivRightPanel).removeClass("hidden");

      });

      $(aboutBtn).click(function() {
        $(aboutDivRightPanel).removeClass("hidden");
        $(aboutDivLeftPanel).removeClass("hidden");

        $(demoDivLeftPanel).addClass("hidden");
        $(demoDivRightPanel).addClass("hidden");
      });
    </script> 
  </body>
</html>